<h1>New Organization Details</h1>
<p>Owner Name: {{ owner_name }}</p>
<p>Owner Email: {{ owner_email }}</p>
<p>Organization: {{ organization }}</p>
<p>Store Name: {{ store_name }}</p>
<p>Subject: {{ subject }}</p>